<?xml version="1.0" encoding="UTF-8"?>
<context>

        <!--
    <Resource
            name="java:jboss/bpmDs"
            auth="Container"
            type="javax.sql.DataSource"
            maxActive="100"
            maxIdle="30"
            maxWait="10000"
            driverClassName="com.mysql.jdbc.Driver"
            url="jdbc:mysql://127.0.0.1/bpm"
            username="root"
            password="root"
            />
-->
</context>
